body {
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.non-bootstrap-container {
    margin: 0 auto;
    width: 71%;

    @include desktop1440 {
        width: 80%;
    }

    @include desktop1280 {
        width: 86%;
    }

    @include tablet1024 {
        width: 94%;
    }

    @include tablet {
        width: 96%;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

.white-pink-button {
    color: $dark-pink;
    background-color: $white;
    border: 1px solid $bittersweet;
    font-family: Lato;
    transition-property: color, background-color, box-shadow;
    transition-duration: 600ms;
}

.white-pink-button:hover {
    background-color: $pink;
    border: 1px solid $bittersweet;
    color: $white;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    transform: scale(1.05);
}

.white-pink-button:active {
    transform: scale(0.95);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    outline: 0;
}

.close-button {
    border: none;
    background-color: $white;
    padding: 0;
    box-sizing: border-box;
}

.close-button:hover {
    border: 1px solid $black;
}

.close-button:active {
    outline: none;
    background-color: $dark-grey;
}

.svg:hover {
    filter: invert(25%);
}

.animated-link:hover {
    transform: scale(1.1);
}

.animated-link:active {
    transform: scale(0.9);
}

.heading {
    height: 148px;
    display: flex;
    align-items: center;
    background-color: $soft-peach;

    &__title-wrapper{
        display: flex;
        justify-content: space-between;

        @include tablet600 {
            flex-direction: column;
            text-align: center;
        }
    }

    &__breadcrumbs {
        text-transform: uppercase;
        @include font-settings (300, 14px, 17px);

        @include tablet600 {
            margin: 32px 0;
        }
    }

    &__breadcrumbs-pink {
        color: $pink;
        font-weight: 700;
    }

    &__title {
        text-transform: uppercase;
        color: $pink;
        font-size: 24px;
        line-height: 29px;
        font-weight: normal;

        @include tablet600 {
            text-align: center;
        }
    }

}