@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-black-webfont.eot');
    src: url('../fonts/lato/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-black.ttf') format('truetype'),
         url('../fonts/lato/lato-black-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-blackitalic-webfont.eot');
    src: url('../fonts/lato/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),		 
		 url('../fonts/lato/lato-blackitalic.ttf') format('truetype'),
         url('../fonts/lato/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-blackitalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bold-webfont.eot');
    src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),	
		 url('../fonts/lato/lato-bold.ttf') format('truetype'),
         url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-bolditalic-webfont.eot');
    src: url('../fonts/lato/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-bolditalic.ttf') format('truetype'),
         url('../fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-italic-webfont.eot');
    src: url('../fonts/lato/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-italic.ttf') format('truetype'),
         url('../fonts/lato/lato-italic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-light-webfont.eot');
    src: url('../fonts/lato/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-light.ttf') format('truetype'),
         url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-lightitalic-webfont.eot');
    src: url('../fonts/lato/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-lightitalic.ttf') format('truetype'),
         url('../fonts/lato/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-regular-webfont.eot');
    src: url('../fonts/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-regular.ttf') format('truetype'),
         url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-thin-webfont.eot');
    src: url('../fonts/lato/lato-thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-thin.ttf') format('truetype'),
         url('../fonts/lato/lato-thin-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-thin-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-thinitalic-webfont.eot');
    src: url('../fonts/lato/lato-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato/lato-thinitalic.ttf') format('truetype'),
         url('../fonts/lato/lato-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-thinitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}