$white: #FFFFFF;
$milk: #FBFBFB;
$dark-blue: #222222;
$very-dark-blue: #222224;
$very-light-pink: #E1E1E1;
$light-pink: #F1E4E6;
$pink: #F16D7F;
$dark-pink: #F26376;
$bittersweet: #FF6A6A;
$silver-chalice:#A4A4A4;
$brown: #474040;
$wild-sand: #F5F3F3;
$soft-peach: #F8F3F4;
$light-grey: #F8F8F8;
$grey: #9F9F9F;
$input-grey: #B1B1B1;
$darker-grey: #6F6E6E;
$dove-grey: #656565;
$scorpion: #575757;
$dark-grey: #5D5D5D;
$gallery: #EAEAEA;
$black: #000000;