.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: space-between;
    row-gap: 30px;

    @include desktop1280 {
        grid-template-columns: repeat(2, 360px);
    }

    @include tablet750 {
        grid-template-columns: 360px;
        justify-content: space-around;
    }

    &__item {
        margin: 0;
    }

    &__item:nth-child(3) {
        @include desktop1280 {
            display: none;
        }
    }
}