.catalog-heading {
    margin: 0 0 50px 0;

    @include desktop1280 {
        margin: 0 0 25px 0;
    }
}

.filter {

    display: flex;

    @include desktop1280 {
        justify-content: space-between;
    }

    @include mobile {
        align-items: center;
    }

    &__filter-wrapper {
        display: flex;
    }

    &__dropdown {
        width: auto;
        height: auto;
        margin: 0 28px 65px 0;
        color: $darker-grey;
        background-color: $white;
        border: none;
        text-transform: uppercase;
        @include font-settings (400, 14px, 17px);
        padding: 0;
        display: flex;
        align-items: center;

        @include desktop1280 {
            margin: 0 10px 40px 0;
        }

        @include mobile {
            @include font-settings (400, 12px, 14px);
        }

        transition-property: color;
        transition-duration: 600ms;
    }

    &__dropdown::after {
        display: none;
    }

    &__dropdown:hover {
        transform: scale(1.05);
    }

    &__dropdown:focus {
        outline: 0;
        color: $pink;
    }

    &__dropdown:active {
        outline: 0;
        color: $pink;
        transform: scale(0.95);
    }

    &__dropdown-icon {
        margin: 0 0 0 9px;
    }

    &__dropdown-item {
        text-transform: uppercase;
        color: $darker-grey;
        padding: 0;
    }

    &__dropdown-item:active {
        color: $white;
        background-color: $pink;
    }

    &__dropdown-item:focus {
        color: $white;
        background-color: $pink;
    }

    &__dropdown-size {
        padding: 10px;
        min-width: 80px;
    }

    &__dropdown-size-checkbox {
        display: none;
    }

    &__dropdown-size-label {
        margin: 0 0 6px;
    }

    &__dropdown-size-label::before {
        content: url(../images/checkbox.svg);
        margin: 0 10px 0 0;
    }

    &__dropdown-size-checkbox:checked+ &__dropdown-size-label::before {
        background-image: url(../images/checkmark.svg);
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__complex {
        margin: 0 26% 0 0;
        @include desktop1280 {
            margin: 0;
        }
    }

    &__complex-button {
        color: $black;
        @include font-settings (600, 14px, 17px);
    }

    &__complex-text {
        display: block;
        margin: 0 11px 0 0;

        @include mobile {
            display: none;
        }
    }

    &__complex-img {
        @include mobile {
            width: 38px;
            min-height: 25px;
        }
    }

    &__complex-dropdown-menu {
        min-width: 360px;
        padding: 13px 16px;
    }

    &__complex-dropdown-item {
        display: block;
        min-height: 37px;
        border-left: 5px solid $pink;
        border-bottom: 1px solid $mercury;
        padding: 11px;
        margin: 0 0 18px 0;
        text-transform: uppercase;
    }

    &__complex-dropdown-item:active {
        color: $pink;
        background-color: transparent;
    }

    &__complex-dropdown-item:focus {
        color: $pink;
    }
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: space-between;
    row-gap: 30px;
    margin: 0 0 49px;

    @include desktop1280 {
        grid-template-columns: repeat(2, 360px);
        margin: 0 0 40px;
    }

    @include tablet750 {
        grid-template-columns: 360px;
        justify-content: space-around;
    }

    &__item {
        margin: 0;
    }

    &__item:nth-child(3) {
        @include desktop1280 {
            display: none;
        }
    }
}

.catalog-pagination {
    width: fit-content;
    margin: 0 auto;
    border: 1px solid $mercury;

    &__page-link {
        color: $mercury;
        @include font-settings (300, 16px, 19px);
        border: none;
        transition-property: color, background-color;
        transition-duration: 600ms;

        &_direction {
            color: $black;
        }
    }

    &__page-link:hover {
        color: $dark-grey;
    }

    &__page-link:active {
        color: $pink;
    }

    &__page-link:focus {
        color: $pink;
    }
}

.dropdown-menu {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 10px;
}